* {
    font-family: 'Century Gothic', sans-serif;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
}

#welcomeDialog {
    text-align: left;
    column-gap: 20px;
    padding: 40px;
    height: 80%;
    width: 50%;
    background-color: #f9f9f9;
    border: none;
}input[type=text], input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}.exit-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #000;
    cursor: pointer;
}button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}button:hover {
    opacity: 0.8;
}#message{
    padding-bottom: 150px;
}

header {
    display: block;
    justify-content: space-between;
    padding: 25px;
    transition: background-color 0.5s ease, opacity 0.5s ease;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    align-items: center;
}header:hover {
    background-color: #DAA520;
}.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#POLY {
    width: 250px;
    margin: 0 auto;
    display: block;
    padding-left: 10px;
}

#sideMenu{
    display: none;
}.header-icons {
    display: flex;
    align-items: center;
  }.header-icons a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }.header-icons a:hover,
    .header-icons a:hover img {
    font-weight: bold;
    color: #ffffff;
  }.header-icons img {
    width: 20px;
    margin-right: 5px;
  }#sideMenu img {
    width: 20px;
    margin-right: 5px;
  }

#video {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
}#video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}#video img {
    max-width: 100%;
    height: auto;
}

.content {
    padding: 20px;
}

.third {
    position: relative; 
    top: 100%; 
    width: 100%;
    background-color: rgb(253, 253, 253);
    padding: 90px;
    align-items: center;
    font-family: Helvetica;
}.third img{
    width: 500px;
}

a:visited {
    text-decoration: none;
}
.portfolio{
    position: relative;
    padding: 100px;
    background-color: #000;
    color: white;
    margin-bottom: 50px;
}.R, .RRFM, .PCom, .PSub, .OAR, .HL {
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 100px;
    text-align: center;
    color: white;
    margin-bottom: 50px;
    overflow: hidden;
    transition: transform 0.3s;
}
/* Section Hover Effect */
.R:hover, .RRFM:hover, .PCom:hover, .PSub:hover, .OAR:hover, .HL:hover {
    transform: scale(1.1);
}
/* Shape Overlay */
.R::before, .RRFM::before, .PCom::before, .PSub::before, .OAR::before, .HL::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    transform: scale(0); 
    transition: transform 0.3s; 
    pointer-events: none; 
}
/* Shape Overlay on Hover */
.R:hover::before, .RRFM:hover::before, .PCom:hover::before, .PSub:hover::before, .OAR:hover::before, .HL:hover::before {
    transform: scale(1); 
}
/* Text Highlight on Hover */
.R:hover p, .RRFM:hover p, .PCom:hover p, .PSub:hover p, .OAR:hover p, .HL:hover p,
.R:hover b, .RRFM:hover b, .PCom:hover b, .PSub:hover b, .OAR:hover b, .HL:hover b {
    background-color: transparent;
    color: white;
    position: relative; 
}
/* Underscore Highlight on Hover */
.R:hover b::after, .RRFM:hover b::after, .PCom:hover b::after, .PSub:hover b::after, .OAR:hover b::after, .HL:hover b::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white; 
    transform: scaleX(0); 
    transform-origin: left; 
    transition: transform 0.3s;
}
/* Underscore Highlight on Hover */
.R:hover p::after, .RRFM:hover p::after, .PCom:hover p::after, .PSub:hover p::after, .OAR:hover p::after, .HL:hover p::after,
.R:hover b::after, .RRFM:hover b::after, .PCom:hover b::after, .PSub:hover b::after, .OAR:hover b::after, .HL:hover b::after {
    transform: scaleX(1); 
}
/* Individual Section Styles */
.portfolio b{
    font-size: 30px;
}.R b, .RRFM b, .PCom b, .PSub b, .OAR b, .HL b {
    font-family: Georgia, serif;
    font-size: 40px;
}.R p, .RRFM p, .PCom p, .PSub p, .OAR p, .HL p {
    font-size: 18px;
    max-width: 1000px;
}.R, .RRFM, .PCom, .PSub, .OAR, .HL {
    display: flex;
    flex-direction: column;
    align-items: center;
}.R p, .RRFM p, .PCom p, .PSub p, .OAR p, .HL p {
    font-size: 18px;
    max-width: 1000px;
    text-align: center; /* Center-align the text */
}
/* Background Images */
.R {
    background-image: url(images/R-Main.jpg);
}.RRFM {
    background-image: url(images/RRFM-Main.jpg);
}.PCom {
    background-image: url(images/PCom-Main.jpg);
}.PSub {
    background-image: url(images/PSub-Main.jpg);
}.OAR {
    background-image: url(images/OAR-Main.jpg);
}.HL {
    background-image: url(images/HL-Main.jpg)}

/*PROPERTIES*/
.r-main, .rrfm-main, .PCom-main, .PSub-main, .OAR-main, .HL-main{
    background-color: #333;
    padding: 100px;
    color: goldenrod;
    font-size: 40px;
    text-align: center;
    position: relative;
}#r-br, #r-ss, #r-psh, #rrfm-dvr, #rrfm-vvt, #rrfm-ss, #PCom-er, #PCom-ppt, #PCom-sqh, #PSub-vve, #PSub-ggr, #PSub-ccv, #OAR-cap, #OAR-bbc, #OAR-is, #HL-lr, #HL-vh, #HL-rr {
    padding: 100px;
    color: white;
    margin-bottom: 50px;
    overflow: hidden;
    transition: transform 0.3s;
    background-size: cover;
    background-position: center;
    position: relative;
}.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 350px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    background-color: rgba(218,165,32, 0.8);
    padding: 30px;
}#content {
    position: relative;
}

#r-br p, #r-ss p, #r-psh p, #rrfm-dvr p,#rrfm-vvt p,#rrfm-ss p, #PCom-er p, #PCom-ppt p, #PCom-sqh p, #PSub-vve p, #PSub-ggr p, #PSub-ccv p, #OAR-cap p, #OAR-bbc p, #OAR-is p, #HL-lr p, #HL-vh p, #HL-rr p  {
    font-size: 18px;
    max-width: 50%; /* Adjust the width as needed */
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    float: right;
    margin-bottom: 10px;
}.btn {
    font-size: 16px;
    padding: 10px 20px;
    background-color: goldenrod;
    color: white;
    border: none;
    transition: background-color 0.3s;
    clear: both;
}.btn:hover {
    background-color: white;
    color: #000;
}

#r-br{
    background-image: url(images/BR.jpg); 
}#r-ss{
    background-image: url(images/SS.jpg);
}#r-psh{
    background-image: url(images/PSH.jpg);
}#rrfm-dvr{
    background-image: url(images/DVR.jpg);
}#rrfm-vvt{
    background-image: url(images/VVT.jpg);
}#rrfm-ss{
    background-image: url(images/RRFM-SS.jpg);
}#PCom-er{
    background-image: url(images/ER.jpg);
}#PCom-ppt{
    background-image: url(images/PPT.jpg);
}#PCom-sqh{
    background-image: url(images/SQH.jpg);
}#PSub-vve{
    background-image: url(images/VVE.jpg);
}#PSub-ggr{
    background-image: url(images/GGR.jpg);
}#PSub-ccv{
    background-image: url(images/CCV.jpg);
}#OAR-cap{
    background-image: url(images/CAP.jpg);
}#OAR-bbc{
    background-image: url(images/BBC.jpg);
}#OAR-is{
    background-image: url(images/IS.jpg);
}#HL-lr{
    background-image: url(images/LR.jpg);
}#HL-vh{
    background-image: url(images/.jpg);
}#HL-rr{
    background-image: url(images/RR.jpg);
}

.ABOUT{
    object-fit: cover;
    padding: 200px;
    font-size: 50px;
    text-align: center;
    background-image: url(images/florence-1.jpg);
    color: white;
}#PEPI{
    position: relative;
    padding: 100px;
    columns: 2;
    color: black;
}#PEPI b{
    font-size: 32px;
    font-family: Georgia;
}#OD{
    position: relative;
    padding: 100px;
    columns: 2;
    color: rgb(0, 0, 0);
}#OD b{
    font-size: 32px;
    font-family: Georgia;
}#OJ{
    position: relative;
    color: rgb(0, 0, 0);
    padding: 100px;
    columns: 2;
}#OJ b{
    font-size: 32px;
    font-family: Georgia;
}#DH{
    position: relative;
    padding: 100px;
    columns: 2;
    color: rgb(0, 0, 0);
}#DH b{
    font-size: 32px;
    font-family: Georgia;
}

.terms,.privacy,.cookies {
    margin: auto;
    display: block;
    color: rgb(0, 0, 0);
    text-align: left;
    max-width: 900px;
    margin-bottom: 50px;
}

#PT {
    width: 550px;
    margin: auto;
    display: block;
    padding: 30px;
}

.summary {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

footer {
    position: absolute; /* Change the position to relative */
    clear: both; /* Clear any floated elements */
    width: 100%;
    padding: 20px;
    font-size: 10px;
    text-align: center;
    color: white;
    background-color: #000;
}
#Corporate {
    list-style: none;
    padding: 0px;
    margin: 0;
    margin-bottom: 10px;
}#Corporate li {
    display: inline-block;
}#Corporate li a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: font-weight 0.3s ease;
}#Corporate li a:hover {
    font-weight: bold;
}#Parent {
    width: 300px;
}

/* COMPATIBILITY */

@media only screen and (max-width: 767px) {
    .header-icons {
        display: none; /* Hide the header icons on small screens */
    }

    #welcomeDialog {
        text-align: left;
        column-gap: 20px;
        padding: 40px;
        height: 80%;
        width: 50%;
        background-color: #f9f9f9;
    }input[type=text], input[type=password] {
        width: 90%;
        padding: 15px;
        margin: 5px 0 20px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }.exit-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        color: #000;
        cursor: pointer;
    }button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }button:hover {
        opacity: 0.8;
    }

    .exit-icon {
        top: 10px;
        right: 10px;
    }

    .container {
        display: inline-block;
        cursor: pointer;
        position: fixed;
        right: 20px;
        top: 21px;
    }.bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #ffffff;
        margin: 6px 0;
        transition: 0.4s;
    }.change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }.change .bar2 {
        opacity: 0;
    }.change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }.exit-text {
        color: #fefefe;
        padding: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease, opacity 0.3s ease;
    }.exit-text:hover {
        background-color: #000000;
        font-weight: bold;
    }#sideMenu {
        display: block; 
        position: fixed;
        top: 0;
        right: 0;
        width: 100;
        height: 100%;
        background-color: #333;
        overflow-x: hidden;
        transition: 0.5s;
        text-align: left;
        font-weight: semi-bold;
    }#sideMenu ul {
        list-style: none;
        padding: 30px;
    }#sideMenu li:hover {
        background-color: rgb(36, 36, 36);
        padding: 20px;
        cursor: pointer;
        transition: background-color 0.8s ease, opacity 0.3s ease;
    }#sideMenu a:hover {
        color: #DAA520;
        font-weight: bold;
    }#sideMenu li {
        margin-bottom: 15px;
    }#sideMenu a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        transition: color 0.4s ease;
    }#sideMenu a::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: rgb(224, 17, 17);
        bottom: -2px;
        left: 0;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease;
    }  

    footer {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        font-size: 10px;
        text-align: center;
        color: white;
        background-color: #000;
    }
}
@media only screen and (min-width: 1024px) {
    #sideMenu {
        display: none; /* Hide the sideMenu in full-screen mode */
    }
    #welcomeDialog {
        text-align: left;
        column-gap: 20px;
        padding: 40px;
        height: 80%;
        width: 50%;
        background-color: #f9f9f9;
        border: none;
    }.fill{
        columns: 2;
    }input[type=text], input[type=password] {
        width: 90%;
        padding: 15px;
        margin: 5px 0 20px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }.exit-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        color: #000;
        cursor: pointer;
    }button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }button:hover {
        opacity: 0.8;
    }
    #sec1{
        font-size: 18px;
    }
}